@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Droid+Serif:400,700,400italic);

/* ======================================================================

RESETS=

========================================================================= */

html{
  overflow-x: hidden; // prevents sideways scrolling.
}

html,
body{
  min-height: 100%;
  background-image: url(/img/ricepaper_@2X.png);
  background-repeat: repeat;
  background-size: 300px;
  margin: 0;
  padding: 0;
}

ul,
ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
  &:hover{
    text-decoration: none;
    color: #474747;
  }

}


/* ======================================================================

TYPOGRAPHY=

========================================================================= */

@lato: 'Lato', sans-serif;
@lato-lt: 100;
@lato-med: 300;
@lato-heavy: 400;
@lato-bold: 700;

@droid: 'Droid Serif', serif;
@droid-med: 400;
@droid-bold: 700;


h1, h3, h5, h6{
  font-family: @droid;
}

h2, h4, p{
  font-family: @lato;
}

h1{
  font-size: 3.5em;
  font-weight: @lato-bold;
  line-height: 1.3em;
}

h2{
  font-size: 2.8em;
  font-weight: @droid-bold;
}

h3{
  font-size: 2.4em;
  font-weight: @lato-heavy;

}

h4{
  font-size: 2em;
  font-weight: @lato-heavy;
}

h5{
  font-size: 1.5em;
  font-weight: @droid-med;
}

h6{
  font-size: 1em;
  text-transform: uppercase;
  font-weight: @droid-med;
}

p{
  font-size: 1.2em;
  font-weight: @lato-med;
}


/* ======================================================================

GRIDS FOR FLEXBOX=

========================================================================= */

.grid,
.grid-gutters,
.grid-cell,
.u-textCenter{
  width: 100%;
  height: 100%;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-gutters{
  margin-left: -1em;
  .grid-cell{
    padding-left: 1em;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
  }
}

.grid--full > .grid-cell{
  -webkit-box-flex: 0;
  &flex{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

.large-grid--fit{
  .grid-cell{
  &flex{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
  }
  }
}

.grid-cell{
  -webkit-box-flex: 1;
  flex: 1;
}

.u-1of3{
  flex: none !important;
  width: 33% !important;
  display: inline-block;
  padding-left: 20px;

}

.u-2of3{
  flex: none !important;
  width: 66% !important;
  float: right;
  padding-left: 20px;
}

.u-3of3{
  display: flex;
  width: 100% !important;
  float: none;
  display: block;
  padding: 20px;
  margin-top: 20px;
}

.u-textCenter{
  text-align: center;
}

.left{
  order: 1;
  width: 40%;
  margin-left: 20px;
}
.right{
  order: 3;
  width: 40%;
}

.center{
  order: 2;
  margin: 40px 0px;
  margin-left: 40px;
  width: 1%;
  border-left: 2px solid rgba(217, 197, 177, 0.4);

}

.row{
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
}

/* ======================================================================

HOME=

========================================================================= */

header{
  width: 100%;
  background: black;
  height: 50px;
  position: fixed;
  z-index: 10;

  h1.logo{
    font-weight: @droid-med;
    color: white;
    position: relative;
    top: -5px;
    left: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  .nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    float: right;
    text-align: center;
    width: 100%;
    justify-content: flex-end;
    float:right;

  }

  ul{
    float: right;
  }

  ul > li{
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    position: relative;
    top: -35px;
    right: 20px;

    a{
      display: block;
      height: 100%;
      width: 100%;
      color: white;
    }
  }
}

a.white{
  color: white;
  &:hover{
    color: gray;
  }
}

.container__home{
  height: 100%;
  min-height: 100%;

  >.top-section{
    background-image: url(/img/coffee1.jpg);
    background-size: cover;
    background-position: middle;
    display: flex;
    flex-direction: column;
    height: 350px;
    min-height: 50%;
    margin: 0;
    padding: 0;

    #headerMessage{
      // background-color: rgba(255,255,255,0.5);
      // border-radius: 20px;
      // padding: 20px 30px;
      // width: 50%;
      // max-height: 400px;
      // // height: 400px;
      // position: relative;
      // top: 80px;
      // left: 40px;
      h1{
        color: white;
        position: relative;
        top: 150px;
      }
    }
  }

  >#about{

    #features{
      display: flex;
      flex-flow: row-wrap;
      justify-content: space-around;
    }

    // #one-sentence{
    //   background-color: rgba(93, 61, 48, 0.65);
    //   height: 50px;
    //   justify-content: center;
    //   align-self: center;
    //
    //   .intro{
    //     color: white;
    //     flex-flow: row-wrap;
    //   }
    // }
  }

  >#login{
    margin-top: 30px;
    display: block;
    display: flex;
    //flex-flow: row-wrap;
    //justify-content: center;

    .loginOptions, .signupOptions{
      background-color: rgba(93, 61, 48, 0.45);
      height: 100%;
        width: 100%;
      justify-content: center;
      flex-direction: row;
      align-self: center;
      padding: 20px;
      // display: block;

      h3, p, li > a{
        display: block;
        align-self: center;
      }
      form{
        p.checkbox-inline{
          float: left;
          display: block;
        }
      }

      p{
        margin-bottom: 20px;
      }
      .showSignup, .showLogin{
        padding: 5px;
      }
      li{
        position: relative;
        top: 50px;
        a{
          align-self: flex-start;
          margin-bottom: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}

#features{
  .grid-cell{
    background-color: rgba(217, 197, 177, 0.33);
    margin-top: 25px;
    width: 100%;
    justify-content: center;

    .left, .right{
      align-self: flex-start;
    }
    .cell-inner{
      padding: 20px;
      height: 200px;
    }
  }
}


a.button-flat-primary.facebook{
  background-color: #3B5999;
  &:hover{
    background-color: rgba(59, 94, 154, 0.9);
    color: white;
  }
}

a.button-flat-primary.google{
  background-color: #d34836;
  &:hover{
    background-color: rgba(213, 66, 56, 0.9);
    color: white;
  }
}

a.button-flat-primary.twitter{
  background-color: #00aeef;
  &:hover{
    background-color: rgba(0, 185, 241, 0.9);
    color: white;
  }
}

/* ======================================================================

GENERAL=

========================================================================= */


li > a > i.fa{
  padding-left: 10px;
}

span > i.fa{
  padding-left: 10px;
}

nav.nav.collapse.navbar-collapse{
  width: 100%;
}

.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content{
  flex: 1;
}

.form-control{
  margin-bottom: 10px;
}

.well{
  background-color: #fbfaf6;
  border-color: 1px solid #d4d4d4;
}

/* ======================================================================

NAV=

========================================================================= */

#nav{
  ul{
    display: block;
    position: relative;
    top: -5px;

    li:not( :last-child) > a{
      border-right: 1px solid #363636;
      padding-right: 10px;
    }
    li > a{
      height: 100%;
      text-align: center;
      display: block;
      font-family: @lato;
      font-weight: @lato-lt;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
  }
}

/* ======================================================================

PROFILE=

========================================================================= */
.container__profile{
  .subnav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    top: 70px;
    left: 20px;
    h5, p, ul{
      display: inline-block;
    }
    p{
      margin-left: 10px;
    }
    ul > li{
      display: inline-block;
      margin-right: 15px;
      a{
        width: 100%;
      }
    }
  }

  /* --- profile --- */
  .profile{
    .main{
      position: relative;
      top: 60px;
      margin: 20px;

      .thumbnail{
        height: 200px;
        width: 200px;
      }

      .u-2of3{
        position: relative;
        left: -80px;

        .edit{
          float: right;
          position: relative;
          right: -55px;
        }
      }
    }
    .myrecipes{
      margin: 20px;
      position: relative;
      top: 60px;

      .newrecipe{
        float: right;

      }
    }
  }

  /* --- edit profile --- */
  .profile{
    .main{
      position: relative;
      top: 60px;
      margin: 20px;

      .thumbnail{
        height: 200px;
        width: 200px;
      }

      .u-2of3{
        position: relative;
        left: -80px;

        .save, .cancel{
          float: left;
          margin-right: 10px;
          margin-top: 20px;
          vertical-align: middle;
          // position: relative;
          // right: -55px;
        }
        .cancel{
          font-size: 0.8em;
          align-self: center;
        }
      }
    }
  }

  /* --- account settings --- */

  #accounts{
    .local{
      position: relative;
      top: 60px;
    }
    .well{
      margin: 20px;
    }
    .well:not(first-child){
      position: relative;
      top: 60px;
    }
  }

  /* --- account settings --- */

  #recipeLibrary{
    position: relative;
    top: 60px;
    margin: 20px;
    .add{
      float: right;
    }
  }
}

/* ======================================================================

LEARN=

========================================================================= */
.container__learn{
  .subnav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    top: 70px;
    left: 20px;
    ul > li{
      display: inline-block;
      margin-right: 15px;
    }
  }
}

/* ======================================================================

BREW=

========================================================================= */
.container__brew{
  .interactionbar{
    width: 100%;
    background: #252525;
    height: 100px;
    color: white;
    position: fixed;
    // position: relative;
    // top: 50px;
    margin-top: 50px;
    z-index: 10;
    .timer > h2{
      font-weight: @lato-lt;
      font-size: 3.5em;
      letter-spacing: 0.08em;
      vertical-align: middle;
      line-height: 0;
      padding: 0;
      margin: 0;
    }

    .timer, .start, .stop, .pause{
      height: 100%;
      vertical-align: middle;
      text-align: center;
      display: flex;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      align-items: center;
      a > h4{
        max-width: 50%;
        color: white;
      }
    }

    .start{
      background-color: #28c989;
        &:hover{
          background-color: #20a169;
      }
    }
    .stop{
      background-color: #c72727;
        &:hover{
          background-color: #981c1c;
      }
    }
    .pause{
      background-color: #959494;
        &:hover{
          background-color: #646464;
        }
    }
  }

  .select-brew-method{
    position: relative;
    top: 170px;
    margin: 20px;
    .row{

    }
    .method{
      width: 150px;
      height: 150px;
      background-color: rgba(93, 61, 48, 0.65);
      border-radius: 20px;
      margin: 10px;
    }

  }

  .select-recipe{
    position: relative;
    top: 200px;
    margin: 30px;
  }

  .coffee-amount{
    position: relative;
    top: 220px;
    margin: 30px;
  }
  //   display: flex;
  //   flex-wrap: nowrap;
  //   justify-content: flex-start;
  //   align-items: baseline;
  //   position: relative;
  //   top: 70px;
  //   left: 20px;
  //   ul > li{
  //     display: inline-block;
  //     margin-right: 15px;
  //   }
  // }
}

/* ======================================================================

SHARE / RECIPES=

========================================================================= */
.container__recipes{
  .subnav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    top: 70px;
    left: 20px;
    ul > li{
      display: inline-block;
      margin-right: 15px;
    }
    h4{
      color: black;
      position: relative;
      top: 220px;
      left: 20px;
      z-index: 1;
    }

  }

}

/* ======================================================================

NEW RECIPE=

========================================================================= */

.container__new-recipe{
  .subnav{
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: flex-start;
    // align-items: baseline;
    // position: relative;
    // top: 70px;
    // left: 20px;

  }

  #new-recipe-info, #new-recipe-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    top: 70px;
    left: 20px;
  }
  #new-recipe-content{
    position: relative;
    top: 20px;
  }
}
