extends ../shared/template

block content

  .container__profile-recipeLibrary

    header.header
      include ../shared/nav

    .subnav
      include ../shared/profile-subnav

    .main.well

      h3 My Recipe Library
      table#recipeLibrary
        tbody
            if(user.recipeLibrary)
            each recipe in recipes
              tr
                td(data-id=recipe.id)
                  a.toggle-favorite(href='#')
                    if(recipe.isStarred)
                      span
                        i.fa.fa-star
                    else
                      span
                        i.fa.fa-star-o
                td
                  h5 #{recipe.title}
                td
                  h6 #{recipe.brewMethodName}
                //- td
                //-   if(!recipe.isRated)
                //-     a.rate-recipe.button.button-rounded.button-flat-highlight(href='#') Rate This Recipe
            else
              tr
                td
                  p You haven't added any recipes to your library
                  a.add.button.button-rounded.button-flat-highlight(href='#') Add Recipes

block scripts
  script(src='/js/es6/compiled/recipeLibrary.js')
