div.grid.grid--gutters.u-textCenter
  .timer.grid-cell
    h2 0:00
  .start.grid-cell.u-textCenter
    a(href='#'): h4 Start
  .stop.grid-cell.u-textCenter
    a(href='#'): h4 Stop
  .pause.grid-cell.u-textCenter
    a(href='#'): h4 Pause
