ul
  li: a(href='/learn/v60') V60
  li: a(href='/learn/chemex') Chemex
  li: a(href='/learn/clever') Clever
  li: a(href='/learn/aeropress') Aeropress
  li: a(href='/learn/frenchpress') French Press
  li: a(href='/learn/kalita') Kalita
  li: a(href='/learn/icedcoffee') Iced Coffee
  li: a(href='/learn/coldbrew') Cold Brew
  //- li: a(href='/learn/geography') Geography
  //- li: a(href='/learn/history') History
