extends ../shared/template

block content
  h1= title


  h3 Login or Register with:


  span
    a(href='/login', class='button button-rounded button-flat') Local Login
      i.fa.fa-user
  br
  span
    a(href='/signup', class='button button-rounded button-flat') Local Signup
      i.fa.fa-user
  br
  span
    a(href='/auth/facebook', class='button button-rounded button-flat-primary') Facebook
      i.fa.fa-facebook
  br
  span
    a(href='/auth/twitter', class='button button-rounded button-flat-primary') Twitter
      i.fa.fa-twitter
  br
  span
    a(href='/auth/google', class='button button-rounded button-flat-caution') Google
      i.fa.fa-google-plus
