.grind
  h5 Grind
  p It’s hard to provide a universal grind setting recommendation for the Aeropress, as it's an incredibly versatile brewing device (one of the reasons that we love it!). We've had great results with all different grind settings. If you opt for a medium grind, shoot for a 2-minute dwell and a 30-second press. If you're interested in playing around with a finer grind setting, brew for 45-90 seconds. Of course, all of this is dependent upon your precise technique.
  img.thumbnail.u-1of4(src='/img/aeropress-grind.jpg')
.popular-techniques
  h5 Popular Techniques
  p We’ll provide you with a couple of different methods, the first being the inverted method. For this recipe, turn the Aeropress upside down and insert the plunger just enough to seal the bottom. Be very careful. This is a tricky maneuver to master, and the possibility of spilling near-boiling water is high. Dump medium-ground coffee into the chamber and add hot water until the desired volume is reached. Steep for 1:45-2:00, stirring once or twice. Screw the filter on and press just until a blond crema-like head appears on top. Carefully invert the entire apparatus and place onto your mug or server, pressing down slowly for about 30 seconds.
  p Here's another method that's geared toward espresso-lovers. Although some claim that the Aeropress makes espresso, this not an accurate description of what happens when brewing with this device. But we've found that you can produce a cup with the Aeropress that carries some attributes of espresso and — whatever you want to call it — we think that it makes a delicious cup of coffee. Use the traditional upright position and a fine-medium grind setting. Place the Aeropress atop a server or mug with the filter in place. Add coffee and pour hot water to target volume. Stir thoroughly and, after 30-45 seconds, begin to press in a steady and controlled motion. You should have a cup with a syrupy body and intense flavors.
.advantages
  h5 Advantages
  p The Aeropress is compact, easy, versatile, and virtually unbreakable. In addition to experimenting with different brewing parameters, you can also play around with different filters. The Aeropress comes with paper filters, which work very well. But if you want a more nuanced and full-bodied cup, the folks at <a href="http://prima-coffee.com/manufacturers/able">Able Brewing</a> created the Disk and Disk Fine, two stainless steel filters designed for use with the Aeropress. They're both reusable and will last for many years. Additionally, American Coffee Trader designed a reusable cloth Aeropress filter. We like each of these filter options.
  p We really enjoy using the Aeropress with complex coffees. For these, we make use of the pressure applied by the Aeropress to highlight the most subtle characteristics. This method also brings the best out of bright coffees; the short brew time accentuates these characteristics. Try the Aeropress with coffees from Kenya, Ethiopia, Panama, Costa Rica, and Papua New Guinea. Check out our Aeropress listing to learn more.
.sources
  h6 Credits
  p.tiny <a href="http://prima-coffee.com/blog/a-beginners-guide-to-immersion-coffee-brewing">Prima Coffee: A Beginners Guide To Immersion Coffee Brewing</a>
  p.tiny Original illustration by <a href="http://rachelself.com">Rachel Self</a>
